<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Connexion au Forum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-wrapper">
    <ion-list inset="true">
      <ion-item>
        <ion-input 
          label="Identifiant" 
          labelPlacement="floating" 
          [(ngModel)]="username" 
          placeholder="Saisir votre login">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input 
          label="Mot de passe" 
          labelPlacement="floating" 
          type="password" 
          [(ngModel)]="password" 
          placeholder="••••••••">
        </ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" color="primary" (click)="onSubmit()">
        Se connecter
      </ion-button>
    </div>

    @if (errorMessage()) {
      <div class="error-message">
        {{ errorMessage() }}
      </div>
    }
  </div>
</ion-content>