<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Liste des Cours</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSortMenu($event)">
        <ion-icon slot="icon-only" name="swap-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list inset="true">
    @for (c of this.UE(); track c.IdCours) {
      <ion-item [routerLink]="['/topics', c.IdCours]" detail="true" button>
        <ion-label>
          <h2>{{ c.Nom }}</h2>
          <p>Dernier message : {{ c.lastMsg | date:'short' }}</p>
        </ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>
